<div class="nav-bar">

  <div class="left">
    <div class="home-page">
      <a [routerLink]='["home"]' routerLinkActive="active-link">Home</a>
    </div>
  </div>
  <div class="right">
    <div class="login-page">
      <a [routerLink]='["login"]' routerLinkActive="active-link">Login</a>
    </div>
    <div class="protected-page">
      <a [routerLink]='["protected"]' routerLinkActive="active-link">Protected</a>
    </div>
  </div>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
